.characters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90svh;
    background-color: var(--color-2);
    color: var(--color-5);
    overflow-y: auto;
    padding: var(--margin-l);
    gap: var(--gap-xl);
  
}

.character {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 630px;
    color: var(--color-5);
    border-radius: var(--br);
    outline: 3px solid var(--color-5);
    background-color: #dbdce1;
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper.png");
    cursor: pointer;
    gap: var(--gap-l);
    transition: all 0.5s;
}

.character:hover {
    transform: scale(1.05);
}

.characterImg {
    width: 300px;
    height: 300px;
    border-radius: var(--br);
    outline: 3px solid var(--color-5);
}
.characterImg > img {
    width: 100%;
    object-fit: contain;
    border-radius: var(--br);
}

.characterContent {
    position: relative;
    width: 300px;
    padding: var(--padding-s);
    font-family: "Special Elite", system-ui;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 500;
}

.characterContent > img {
    position: absolute;
    bottom: 50px;
    right: 30px;
    width: 180px;
}

.secret {
    text-decoration: line-through;
    text-decoration-color: black; 
    text-decoration-thickness: 0.3em;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5svh;
}
.pagination > p {
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 5svh;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
}

.pagination > img {
    width: 40px;
    height: 40px;
    padding: var(--padding-s);
    outline: 2px solid var(--color-5);
    border-radius: var(--br);
    cursor: pointer;
}

.pagination > img:disabled {
    cursor: default;
}

@media screen and (max-width: 720px) {
    .character {
        height: 250px;
        width: 555px;
    }

    .characterImg {
        width: 250px;
        height: 250px;
    }

    .characterContent {
        width: 250px;
    }
    
}

@media screen and (max-width: 620px) {
    .character {
        height: 150px;
        width: 320px;
    }

    .characterImg {
        width: 150px;
        height: 150px;
    }
    .characterContent {
        position: relative;
        width: 140px;
        padding: var(--padding-s);
        font-family: "Special Elite", system-ui;
        font-size: 1em;
        line-height: 1.1;
        font-weight: 400;
    }

    .characterContent > img {
        position: absolute;
        bottom: 30px;
        right: 10px;
        width: 150px;
    }
    
}

@media screen and (max-width: 360px) {
    .character {
        height: 130px;
        width: 280px;
        gap: var(--gap-m);
    }

    .characterImg {
        width: 130px;
        height: 130px;
    }
    .characterContent {
        position: relative;
        width: 125px;
        padding: var(--padding-s);
        font-family: "Special Elite", system-ui;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 400;
    }

    .characterContent > img {
        position: absolute;
        bottom: 10px;
        right: 7px;
        width: 110px;
    }
    
}